<div class="mt-4">
    <h3>Đăng Kí Đồ Án</h3>

    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="name">Tên Sinh Viên</label>
            <input type="text" class="form-control" id="svPerform" name="svPerform">
        </div>
        <div class="form-group">
            <label for="description">Tên Đồ Án</label>
            <input type="text" class="form-control" id="nameProject" name="nameProject">
        </div>
        <div class="form-group">
            <label for="videoId">Mô Tả</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="videoId">Tên Giáo Viên HD</label>
            <input type="text" class="form-control" id="nameTeacher" name="nameTeacher">
        </div>
        <div class="form-group">
            <label for="videoId">File Word</label>
            <input type="text" class="form-control" id="fileWord" name="fileWord">
        </div>


        <div class="form-group">
            <label for="videoId">File Zip Source</label>
            <input type="text" class="form-control" id="fileZip" name="fileZip">
        </div>
    
        <button type="submit" class="btn btn-primary">Thêm Đồ Án</button>
    </form>
</div>